
<div class="empty-page-position">
	<div class="text-empty-page-position">
		<p style="color:#0045CB">Page is empty</p>
	</div>
	<img src="/pictures/empty.png" width="50" height="50" style="vertical-align: middle;" />
</div>

