@using Microsoft.AspNetCore.Identity
@using ExpenseManager.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/LineRegistration.css">

<div class="element-for-registration-position">
    <ul class="navbar-nav newNavbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            <li class="nav-item newNav-item">
                <div class="nameUser-position position-p">
                    <p >Hello @UserManager.GetUserName(User)!</p>
                </div>
                </li>
            <li class="nav-item newNav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <div class="Logout-position">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </div>
                    </form>
                </li>    
        }
        else
        {
            <li class="nav-item newNav-item">
                <div class="nameUser-position">
                    <a class="nav-link text-dark newNav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
            </li>
            <li class="nav-item newNav-item">
                <div class="Logout-position">
                    <a class="nav-link text-dark newNav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            </li>
        }
    </ul>

</div>